/*

	SOCIETE DE GYM D'ECHICHENS
	author: Benoît Horisberger
	
	COULEUR
	Body background: #2d2d2d;
	Rond noir: #272727;


*/


body{
	font-family: "Myriad pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	background-color: #2d2d2d;
	color: #f2f2f2;
}

footer{
	font-size: 0.8571428571428571em;
	padding: 80px 0px 50px 0px;
}

header{
	padding: 80px 0px 100px 0px;
}

.box-center{
	position: relative;
	width: 100%;
}

.el-center{
	margin: 0px auto;
	display: table;
}

.bold{
	font-weight: bold;
}

.paraph{
	margin: 10px 0px;
}

.right{
	float:right;
}

.left{
	float:left;
}

/* -------------   LOGO   ------------- */
#logo-gym-title{
	font-size: 2.571428571428571em;
	display: table-cell;
  	vertical-align:middle;
  	padding-left: 15px;
}

#logo-gym-img{
	float:left;
}


/* -------------   BULLE (THEME)   ------------- */
.bubble-topic{
	background-color:#272727;
	border-radius:50%;
	width:400px;
	height:400px;
	margin: 20px auto;
}

.topic-txt-center{
	padding: 0px 50px;
	text-align: center;
}

.topic-txt{
	padding: 0px 80px;
}

.bubble-activity{
	background-color:#272727;
	border-radius:50%;
	width:200px;
	height:200px;
	margin: 10px;
}


.bubble-title{
	padding-top: 20px;
	height: 105px;
}

.bubble-title-top{
	position: relative;
	background-color:#272727;
	border-radius:50%;
	width:200px;
	height:50px;
	top: -45px;
	left: -10px;
}

.bubble-title-bottom{
	position: relative;
	background-color:#ff00ff;
	border-radius:50%;
	width:200px;
	height:50px;
	top: 10px;
}


.bubble-title-top-activity{
	position: relative;
	background-color:#2d2d2d;
	border-radius:50%;
	width:200px;
	height:50px;
	top: -45px;
	left: -10px;
}

.title-theme{
	font-size: 2.142857142857143em;
	text-align: center;
	padding-left: 10px;
}





/* -------------   BACKGROUND COLOR   ------------- */

.turquoise-bkg{
	background-color: #17c58d;
}

.yellow-bkg{
	background-color: #c59517;
}

.blue-bkg{
	background-color: #1791c5;
}

.orange-bkg{
	background-color: #c95e16;
}

.green-bkg{
	background-color: #4fc816;
}
