<div class="box-center">
	<div class="bubble-topic el-center">
		<div class="bubble-title box-center">
			<div class="bubble-title-bottom el-center turquoise-bkg"></div>
			<div class="bubble-title-top el-center">
				<div class="title-theme"><%= dico.title %></div>
			</div>
		</div>
		<div class="topic-txt-center">
			<div><%= dico.paraph1 %>
			<div class="bold paraph">
				<%= dico.person1 %><br />
				<%= dico.person2 %><br />
				<%= dico.person3 %>
			</div>
			<div><%= dico.paraph2 %></div>
		</div>
	</div>
</div>