<div class="box container">
	
	<div id="descri">

		<h1> Gymnastique Echichens</h1>
		<p>Créée en 1979, la société de gym d’Echichens compte 7 activités sportives pour environ 
			90 membres actifs fin 2013. Le comité acutel est composé de trois membres:</p>	
		<p id="council">Benoît Horisberger, Président <br />
			Véronique Bourgeois, Secrétaire <br />
			Gaël Rochat, Caissier</p>
		<p>Les activités se déroulent à la salle polyvalente d’Echichens et comptent sur des participants de tous âges.</p>
	</div>


	<div id="news-box">
		<h1>News</h1>
		<div class="news-item-box">
			<h3 class="bold">Rentrée 2014-2015</h3>
			<p> Bonjour amis sportifs, la saison 2014-2015 a débuté et c'est l'occasion ou jamais de participer à un cours. Contactez directement
			la/le résponsable pour un essai ou pour s'inscrire!</p>
		</div>

		<!-- next news ...-->

	</div>


</div>