<div class="box container">
	
	<div id="news-box">
		<h1>News</h1>
		<div class="news-item-box">
			<h3 class="bold">Rentrée 2014-2015</h3>
			<p>Bientôt la rentrée, n'hésitez pas à nous contacter pour obtenir des informations sur un cours ou pour participer à une session d'essai !</p>
		</div>

		<!-- next news ...-->

	</div>


		


	<div id="contact-box">

		<h1>Contact</h1>

		<div id="address-box">
			<p>
				Gymnastique Echichens<br />
				Case postale 57<br />
				1112 Echichens
			</p>
			<p class="bold">
				gym.echichens@gmail.com
			</p>
		</div>
	</div>
	

</div>