<div class="box-center">
	<div class="bubble-title box-center">
		<div class="bubble-title-bottom el-center green-bkg"></div>
		<div class="bubble-title-top-activity el-center">
			<div class="title-theme"><%= dico.title %></div>
		</div>
	</div>
	<div class="paraph topic-txt-center">
		<div><%= dico.paraph1 %></div>
	</div><br />
	<div id="activity1" class="row activityBox">
		<div class="bubble-activity col-xs-4"></div>
		<div class="col-xs-8 activityDescription">
			<div><h4><%= dico.activity1.name %></h4></div>
			<div><%= dico.activity1.description %></div>
			<div><%= dico.activity1.age %></div>
			<div><%= dico.activity1.leader %></div>
			<div><%= dico.activity1.schedule %></div>
			<div><%= dico.activity1.note %></div>
		</div>
	</div>
	<div id="activity2" class="row activityBox">
		<div class="bubble-activity col-xs-4"></div>
		<div class="col-xs-8 activityDescription">
			<div><h4><%= dico.activity2.name %></h4></div>
			<div><%= dico.activity2.description %></div>
			<div><%= dico.activity2.age %></div>
			<div><%= dico.activity2.leader %></div>
			<div><%= dico.activity2.schedule %></div>
			<div><%= dico.activity2.note %></div>
		</div>
	</div>
	<div id="activity3" class="row activityBox">
		<div class="bubble-activity col-xs-4"></div>
		<div class="col-xs-8 activityDescription">
			<div><h4><%= dico.activity3.name %></h4></div>
			<div><%= dico.activity3.description %></div>
			<div><%= dico.activity3.age %></div>
			<div><%= dico.activity3.leader %></div>
			<div><%= dico.activity3.schedule %></div>
			<div><%= dico.activity3.note %></div>
		</div>
	</div>
	<div id="activity4" class="row activityBox">
		<div class="bubble-activity col-xs-4"></div>
		<div class="col-xs-8 activityDescription">
			<div><h4><%= dico.activity4.name %></h4></div>
			<div><%= dico.activity4.description %></div>
			<div><%= dico.activity4.age %></div>
			<div><%= dico.activity4.leader %></div>
			<div><%= dico.activity4.schedule %></div>
			<div><%= dico.activity4.note %></div>
		</div>
	</div>
	<div id="activity5" class="row activityBox">
		<div class="bubble-activity col-xs-4"></div>
		<div class="col-xs-8 activityDescription">
			<div><h4><%= dico.activity5.name %></h4></div>
			<div><%= dico.activity5.description %></div>
			<div><%= dico.activity5.age %></div>
			<div><%= dico.activity5.leader %></div>
			<div><%= dico.activity5.schedule %></div>
			<div><%= dico.activity5.note %></div>
		</div>
	</div>
	<div id="activity6" class="row activityBox">
		<div class="bubble-activity col-xs-4"></div>
		<div class="col-xs-8 activityDescription">
			<div><h4><%= dico.activity6.name %></h4></div>
			<div><%= dico.activity6.description %></div>
			<div><%= dico.activity6.age %></div>
			<div><%= dico.activity6.leader %></div>
			<div><%= dico.activity6.schedule %></div>
			<div><%= dico.activity6.note %></div>
		</div>
	</div>
	<div id="activity7" class="row activityBox">
		<div class="bubble-activity col-xs-4"></div>
		<div class="col-xs-8 activityDescription">
			<div><h4><%= dico.activity7.name %></h4></div>
			<div><%= dico.activity7.description %></div>
			<div><%= dico.activity7.age %></div>
			<div><%= dico.activity7.leader %></div>
			<div><%= dico.activity7.schedule %></div>
			<div><%= dico.activity7.note %></div>
		</div>
	</div>
</div>