<div class="box-center">
	<div class="bubble-topic el-center">
		<div class="bubble-title box-center">
			<div class="bubble-title-bottom el-center blue-bkg"></div>
			<div class="bubble-title-top el-center">
				<div class="title-theme"><%= dico.title %></div>
			</div>
		</div>
		<div class="topic-txt-center">
			<div><%= dico.paraph1 %></div><br />
			<div><h3><%= dico.mail %></h3></div><br /><br />
			<div class="bold"><%= dico.company %></div>
			<div class="bold"><%= dico.postal %></div>
			<div class="bold"><%= dico.city %></div>
		</div>
	</div>
</div>