<div class="box container">
	
	<div id="download-box">
		<h1>Téléchargement</h1>

		<p>Téléchargez notre programme au format PDF, relisez le PV 
de l'année précédente, etc.</p>

		<div class="download-item"><a href="./download/programme2014-2015.pdf">Programme 2014-2015</a></div>
		<div class="download-item"><a href="./download/pv2014.pdf">Procès verbal 2014</a></div>
		<div class="download-item"><a href="./download/status2012.pdf">Statuts de l'association</a></div>
		<br />
		<br />
		<div class="download-item"><a href="./download/fete_du_sport.rar">Articles de journaux - Fête du sport 2014</a></div>
		
	</div>

</div>