<div class="box-center">
	<div class="bubble-topic el-center">
		<div class="bubble-title box-center">
			<div class="bubble-title-bottom el-center orange-bkg"></div>
			<div class="bubble-title-top el-center">
				<div class="title-theme"><%= dico.title %></div>
			</div>
		</div>
		<div class="topic-txt-center">
			<div><%= dico.paraph1 %></div><br />
			<div class="bold links">
				<div><a href="download/programme2013-2014.pdf"><%= dico.programme %></a></div>
				<div><a href="download/pv2012.pdf"><%= dico.pv2 %></a></div>
				<div><a href="download/status2012.pdf"><%= dico.status %></a></div>
			</div>
		</div>
	</div>
</div>