<div class="box container">
	
	<div id="download-box">
		<h1>Téléchargement</h1>

		<p>Téléchargez notre programme au format PDF, découvrez des articles de journaux, etc.</p>

		<div class="download-item"><a href="./download/programme2016-2017.pdf">Programme 2016-2017</a></div>
		<div class="download-item"><a href="./download/pv2015.pdf">Procès verbal 2015</a></div>
		<div class="download-item"><a href="./download/status2012.pdf">Statuts de l'association</a></div>
		<br />
		<br />
		<div class="download-item"><a href="./download/fete_du_sport_2015_articles.jpg">Articles de journaux - Fête du sport 2015</a></div>
		<div class="download-item"><a href="./download/fete_du_sport_2014_articles.pdf">Articles de journaux - Fête du sport 2014</a></div>
		
	</div>

</div>