<div class="box container">
      
      <h1>Evénements</h1>

      <div id="event2" class="box-event">
      	<h2 class="title-event">4ème Fête du sport, "Rallye à pieds" - samedi 6 juin 2015</h2>
      	<div class="description-event">
      		<p>
                  En famille ou entre amis, partez à l'aventure et relevez les défis les plus fous... jusqu'à la victoire!
                  </p>
                  <p>
                  <a href="./download/fete_du_sport_rallye_2015.pdf">flyer de la fête du sport 2015</a>
                  </p>
                  <p>
                  <a href="./download/fete_du_sport_programme_2015.pdf">programme de la fête du sport</a>
                  </p>

                  <h3>Règlement d’inscription</h3>
                  <ul>
                        <li>Une inscription par équipe est obligatoire,</li>
                        <li>Le rallye pédestre se fait par équipe limitée à 4 adultes et 5 enfants,</li>
                        <li>Une équipe de moins de 4 personnes concourra avec une autre équipe,</li>
                        <li>Les enfants sont sous la responsabilité de leurs parents,</li>
                        <li>Les  parents de  jeunes de moins de 18 ans qui désirent créer une équipe 
                  sans adulte doivent transmettre  par écrit  une décharge parentale  à  la 
                  société de gym.</li>
                  </ul>
               
                  <h3>Frais d’inscription</h3>
                  <ul>
                        <li>Les frais se montent  à CHF 6.00 par personne (dès 2 ans)  par paiement 
                  bancaire  ou  CHF 8.00 par personne en cas de paiement par bulletin de 
                  versement à la poste (frais en sus),</li>
                        <li>Montant à virer sur le compte CCP 10-62969-1,</li>
                        <li>Inscription définitive lors de la réception du paiement.</li>
                  </ul>

                  <div class="warning">La société de gymnastique se décharge de toutes responsabilités en cas de dommages, blessures ou accidents durant la fête du sport. <strong>Chaque participant doit avoir sa propre assurance responsabilité civile.</strong></div>
      	</div>
      	<div class="link-event">
      		
      	</div>
            <br />
            <p>Note: Le rallye est facilement praticable en pousette 3 roues.</p>
      	<div class="action-event">
      		<a href="https://docs.google.com/forms/d/1b9wn-xAUbX0F43z6LsIR091KXqi4bRu36lFfOsZHBVQ/viewform?c=0&w=1&usp=mail_form_link" target="blank"><button class="pull-right btn btn-default navbar-btn" type="button">Inscription</button></a>
      	</div>
      </div>


</div>