<div id="frame">
	<div class="row margin">
		<div id="news-box" class="col-md-12">
			<div class="box-center">
				<div class="bubble-topic el-center">
					<div class="bubble-title box-center">
						<div class="bubble-title-bottom el-center purple-bkg"></div>
						<div class="bubble-title-top el-center">
							<div class="title-theme">News</div>
						</div>
					</div>
					<div class="topic-txt">
				
						<h3>Mini-Olympiades</h3>
						<div>Joutes Sportives pour les "jeunes" de 2 à 99 ans, samedi 21 juin 2014 à la salle polyvalente d'Echichens.</div>
						<br/>
						<a href="download/miniOlympiades2014.pdf">Flyer à télécharger...</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row margin">
		<div id="history-box" class="col-md-6"></div>
		<div id="tariff-box" class="col-md-6"></div>
	</div>
	<div class="row margin">
		<div id="download-box" class="col-md-6"></div>
		<div id="contact-box" class="col-md-6"></div>
	</div>
	<div class="row margin">
		<div id="activity-box"></div>
	</div>
</div>