<div class="box container">
	
	<div id="descri">

		<h1> Gymnastique Echichens</h1>
		<p>Créée en 1979, la société de gym d’Echichens compte 7 activités sportives pour environ 
			80 membres actifs en 2015.</p>
		<p>
			Le comité actuel est composé de trois membres:
		</p>	
		<p id="council">Benoît Horisberger, Président <br />
			Véronique Bourgeois, Secrétaire <br />
			Gaël Rochat, Caissier</p>
		<p>Les activités se déroulent à la salle polyvalente d’Echichens et comptent sur des participants de tous âges.</p>
	</div>


	<div id="news-box">
		<h1>News</h1>

		<div class="news-item-box">
			<h3 class="bold">Cours gym enfantine (1-2P)</h3>
			<p>C'est avec un grand plaisir que nous accueillons cette année Mme Andréanne Boerio qui reprend le cours enfantine pour les 1-2P. Nous la remercions chaleureusement de permettre à cette activité de perdurer et de faire découvrir la gymnastique aux enfants d'une manière ludique !</p>
		</div>
		

		<!-- next news ...-->

	</div>





</div>