<div class="box container">
	
	<div id="descri">

		<h1> Gymnastique Echichens</h1>
		<p>Créée en 1979, la société de gym d’Echichens compte 7 activités sportives pour environ 
			90 membres actifs en 2015.</p>
		<p>
			Le comité acutel est composé de trois membres:
		</p>	
		<p id="council">Benoît Horisberger, Président <br />
			Véronique Bourgeois, Secrétaire <br />
			Gaël Rochat, Caissier</p>
		<p>Les activités se déroulent à la salle polyvalente d’Echichens et comptent sur des participants de tous âges.</p>
	</div>


	<div id="news-box">
		<h1>News</h1>

		<div class="news-item-box">
			<h3 class="bold">Recherche monitrice/moniteur pour la gym enfantine (1-2P)</h3>
			Nous recherchons pour le <strong>1er septembre 2015</strong> une monitrice ou un moniteur de gym enfantine (1-2P) pour des leçons les mardis de 16h30 à 17h30 à la salle polyvalente d’Echichens. Renseignements au 021 801 64 73 ou gym.echichens@gmail.com
		</div>
		

		<!-- next news ...-->

	</div>





</div>