<div class="box container">
	
	<div id="descri">

		<h1> Gymnastique Echichens</h1>
		<p>Créée en 1979, la société de gym d’Echichens compte 5 activités sportives pour environ 
			80 membres actifs en 2019.</p>
		<p>
			Le comité actuel est composé de trois membres:
		</p>	
		<p id="council">Gaël Rochat, Président <br />
			Benoît Horisberger, Secrétaire <br />
			Yoachim Bourgeois, Caissier</p>
		<p>Les activités se déroulent à la salle polyvalente d’Echichens ou à la salle villageoise de St-Saphorin et comptent sur des participants de tous âges.</p>
	</div>



	<div id="news-box">
		<h1>News</h1>

		<div class="news-item-box">
			<h3 class="bold">Cours gym enfantine (1-2P)</h3>
			<p>Nous recherchons une personne motivée à encadrer le groupe jeunesse pour la rentrée scolaire 2021-2022. Pour tout renseignement, veuillez nous contacter via notre e-mail: gym.echichens@gmail.com</p>
		</div>

	</div>


</div>