<div class="box container">
	
	<div id="tariff-box">
		<h1>Tarifs</h1>
		<table>
			<tr class="rounded-top">
				<td>Actifs adultes</td>
				<td>170.-</td>
			</tr>
			<tr>
				<td>Actifs enfants</td>
				<td>100.-</td>
			</tr>
			<tr >
				<td>Actifs enfants (2ème)</td>
				<td>80.-</td>
			</tr>
			<tr>
				<td>Actifs étudiants</td>
				<td>120.-</td>
			</tr>
			<tr class="rounded-bottom">
				<td>Actifs séniors</td>
				<td>130.-</td>
			</tr>
			<tr class="no-tr-border">
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
			<tr class="rounded">
				<td>Frais d'inscription</td>
				<td>10.-</td>
			</tr>
		</table>
	</div>


	<div id="contact-box">

		<h1>Contact</h1>

		<div id="address-box">
			<p>
				Gymnastique Echichens<br />
				Case postale 57<br />
				1112 Echichens
			</p>
			<p class="bold">
				gym.echichens@gmail.com
			</p>
		</div>
	</div>

</div>